@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/PTSans/PTSansRegular.woff2') format('woff2'), url('/fonts/PTSans/PTSansRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/PTSans/PTSansBold.woff2') format('woff2'), url('/fonts/PTSans/PTSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
